#!/bin/bash

MYDUMPER_REMOTE_USER="dumpuser"
MYDUMPER_REMOTE_PASSWORD="qwerty"
MYDUMPER_REMOTE_HOST="10.0.0.100"

MYDUMPER_LOCAL_USER="dumpuser"
MYDUMPER_LOCAL_PASSWORD="qwerty"
MYDUMPER_LOCAL_HOST="192.168.1.100"

MYDUMPER_REMOTE_DATABASES_MAP=(website)
MYDUMPER_LOCAL_DATAMASES_MAP=(website_copy)

MYDUMPER_EXCEPT_TABLES=(
    my_excluded_table
    logs
    tmp_data
)

MYDUMPER_THREADS=6

