# EditorConfig: http://EditorConfig.org
# PHPStorm: https://plugins.jetbrains.com/plugin/7294

root = true

[*.php]
insert_final_newline = true
max_line_length = 200

[Makefile]
indent_style = tab

[docker-compose.yml]
indent_style = space
indent_size = 4
insert_final_newline = true

